#hd{
  padding-top: 390px;
  margin-left: 20px;
  font-family: sans-serif;
}

#bulb{
  margin-left: 0px;
  margin-right: -10px;
  padding-top: 0px;
}
p{
  padding-top: 10px;
}

h3{
  font-size: 30px;
  color: #d8ac0a;
}

h4{
  font-size: 20px;
  color: #b3b6bc;
}



img{
  float: left;
  margin-left: 15px;
  padding-top: 20px;
}

ap{
  padding-top: : 70px;
  margin-left: 50px;
}
section{
  margin-top: 190px;
  width: 800px;
  margin-left: 15px;
  padding-top: 250px;
  font-size: 20px;
  color: #b3b6bc;
  font-family: sans-serif;

}

#third{
  float: right;
  margin-top: -1270px;
  margin-right: -40px;
}

#second{
  margin-left: 450px;
  margin-bottom: -200px;
}

#th{
  margin-top: 740px;
  margin-left: 50px;
  margin-right: 40px;

}

#pc{
  margin-top: -425px;
  margin-left: 100px;
}

#se{
  float: left;
  margin-top: -230px;
  margin-right: 300px;
  margin-left: 150px;
}

#on{
  float: left;
  margin-top: 200px;
  margin-right: 800px;
  margin-left: -250px;
}

#one{
  margin-top: 250px;
}

#thi{
  margin-top: 840px;
  padding-bottom: 10px;
}

footer{
  padding-top: 200px;
}

#read_more,#detail{
  height: 50px;
  width: 150px;
  background-color:  #d8ac0a;
  border: none;
  outline: none;
  color: white;
}

#cat{
  float: right;
  margin-top: -140px;
  margin-right: 170px;
  font-family: sans-serif;
  font-size: 25px;
  color:  #d8ac0a;
}

#pichu{
  padding-top: 30px;
}
a:link{
    text-decoration: none;
      color: #b3b6bc;
}

#pickachu{
  margin-left: 5px;
}
